{% extends "base.html" %}
{% load i18n %}{% load bootstrap %}{% load static %}

{% block html_head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-grid.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-theme-alpine.css">
    <link rel="stylesheet" href="{% static 'css/zone_editor.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.noStyle.js" defer></script>
    <script src="{% static 'js/zone_editor.js' %}" defer></script>
    <script src="{% url 'zone_editor_jsonp' pk %}" defer></script>
{% endblock %}

{% block content %}
    <div id="zone_editor_error" class="alert alert-danger" style="display: none"></div>
    <div id="zone_editor_controls">
      <button class="btn btn-xs btn-primary"><i class="fa-solid fa-arrow-rotate-right pulse reload-icon"></i> reload</button>
      <button class="btn btn-xs btn-primary"><i class="fa-solid fa-ban"></i> discard</button>
      <button class="btn btn-xs btn-primary"><i class="fa-solid fa-arrow-up-from-bracket"></i> apply</button>
      <div class="btn btn-xs btn-primary custom-control custom-checkbox custom-control-label"><i class="fa-solid fa-code-compare"></i> changes only</div>
      <button class="btn btn-xs btn-primary"><i class="fa-solid fa-circle-plus"></i> new record</button>
    </div>
    <div id="zone_editor_grid" class="ag-theme-alpine"></div>
{% endblock %}
