.container {
  width: auto;
  min-width: 1170px;
  max-width: none;
}

#zone_editor_grid {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
  margin-top: 18px;
}

#zone_editor_controls {
  text-align: center;
  margin-bottom: 18px;
}

#zone_editor_controls {
  display: block;
}

#zone_editor_controls > button {
  display: inline-block;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5) rotate(180deg);
    opacity: 0.85;
  }
  100% {
    transform: scale(1) rotate(360deg);
    opacity: 1;
  }
}

.pulse {
  animation: pulse 1.2s ease-in-out infinite;
}

.ag-theme-alpine {
  font-family: "Open Sans", sans-serif;
}

.ag-theme-alpine .ag-header-cell-label {
  text-align: center;
  justify-content: center;
}

.zone-editor-name {
}

.zone-editor-class {
  text-align: center;
}

.zone-editor-type {
  text-align: center;
}

.zone-editor-ttl {
  text-align: right;
}

.zone-editor-data.ag-cell,
.ag-header-cell[col-id="data"] {
  border-right: var(--ag-border-color) solid 1px;
}

/*
.zone-editor-state.ag-cell,
.ag-header-cell[col-id="state"] {
  border-left: var(--ag-border-color) solid 1px;
}
*/

.zone-editor-controls {
}

.zone-editor-error {
}

.zone-editor-row-vanilla {
}

.zone-editor-row-to-delete {
  background-color: #fee;
}

.zone-editor-row-to-add {
  background-color: #efe;
}

.ag-row-error {
}

.ag-ltr .ag-cell.ag-cell-focus.zone-editor-state {
  border-color: transparent;
}

.ag-ltr .ag-cell.ag-cell-focus.zone-editor-controls {
  border-color: transparent;
}

.ag-ltr .ag-cell.ag-cell-focus.zone-editor-error {
  border-color: transparent;
}

.zone-editor-row-to-add .zone-editor-btn-edit,
.zone-editor-row-vanilla .zone-editor-btn-cancel,
.zone-editor-row-to-delete .zone-editor-btn-delete,
.zone-editor-row-to-add .zone-editor-btn-delete {
  display: none;
}

.zone-editor-row-to-add .zone-editor-name::after,
.zone-editor-row-to-add .zone-editor-class::after,
.zone-editor-row-to-add .zone-editor-type::after,
.zone-editor-row-to-add .zone-editor-ttl::after,
.zone-editor-row-to-add .zone-editor-data::after {
  /* content: var(--fa); */
  content: " \f044";
  font-family: "Font Awesome 7 Free";
  /*
  position: absolute;
  right: 0;
  top: 0;
  */
  opacity: 0.5;
}

.zone-editor-button-pressed,
.zone-editor-button-pressed:hover {
  /* border-color: var(--bs-btn-color); */
  background-color: var(--bs-btn-color);
  color: var(--bs-btn-bg);
}
